* {
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}

.card-container {
  min-height: 90svh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.card {
  font-size: 2rem;
  height: 600px;
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 1rem;
  color: white;
}

.day {
  background: rgb(0, 140, 255);
  background: radial-gradient(
    circle,
    rgba(0, 140, 255, 1) 0%,
    rgba(134, 181, 255, 1) 100%
  );
}

.night {
  background: rgb(54, 76, 147);
  background: radial-gradient(
    circle,
    rgba(54, 76, 147, 1) 0%,
    rgba(37, 37, 37, 1) 100%
  );
}

input {
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid black;
}

button {
  all: initial;
  color: white;
  border-radius: 5px;
  background-color: #505050;
  cursor: pointer;
  font-weight: bolder;
  font-size: inherit;
  font-family: inherit;
  font-size: inherit;
  box-shadow: 2px 2px 0px #404040;
  padding: 0.5rem 1rem;
  transition: 0.1s ease;
}

button:active {
  box-shadow: none;
}
